@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F6F7FF;
    --foreground: #000000;
    --card: #EDEFFC;
    --primary: #40C783;
    --secondary: #16161a;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #232326;
      --foreground: #F6F7FF;
      --card: #39393d;
      --primary: #40C783; /* Remains the same */
      --secondary: #16161a; /* Remains the same */
    }
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }

  .card {
    @apply bg-[var(--card)] text-[var(--foreground)];
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}